header, footer, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   border: 0;
}

header, footer {
  color: white;
  background-color: #213643;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

#reviews {
   border-bottom: solid 3pt #213643;
   color: #ed8030;
}
.first {
   color: #728B96;
   font-style: italic;
}

a:link {
   font-weight: bold;
   color: #47B3D7;
}
a:visited {
   color: #BB78FF;
}
a:hover {
   background-color: #FFFFCC;
}

nav ul li {
   list-style: none;
   display: inline;
   margin: 1em;
}
nav {
   padding: 0.25em;
}
nav a {
   padding: 0.25em;
}

figure {
   margin: 2em;
   background-color: #EEEEEE;
   padding: 1.5em;
   border: solid 1px #999999;
}
h3+p+p { margin-top: 1em; }

figure div {
   margin-top: 0.25em;
   font-size: 70%;
   padding: 0.5em;
   width: 485px;
   background-color: #9FAAB0;
   border: solid 1px #999999;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   background-image: url(images/gray-gradient.gif);
   background-repeat: repeat-x;
}

span.share{
  display: inline-block;
  background: url(images/glyphicons-halflings.png) no-repeat;
  width: 14px;
  height: 14px;
  background-position: -120px -72px;  
  padding-right: 5px;
}
body {
font‐size: 100%; /* about 16px */
}
h1 {
font‐size: 24px; /* for older browsers */

font‐size: 1.5rem;
}
h2 {
font‐size: 18px;
font‐size: 1.125rem;
}
h3 {
font‐size: 16px;
font‐size: 1rem;
}
p {
font‐size: 16px;
font‐size: 1rem;
}
Add the following style and test.
.first, figcaption, h3+p {
font‐size: 14px;
font‐size: .875rem;
}


